.height{
    width:304px;
    height: 1080px;
    background-color:  #FFFFFF !important;

}
.color{
    background-color: #7A58E6!important;
    width: 240px !important;
    height: 66px !important;
    border-radius: 16px !important;
}
.bold{
    font-weight: bold !important;
}